body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.62em;
  color: #66BFBF;
}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin:30px auto;
}

p{
  line-height: 2;
}

.photo{
  width: 25%;
  
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.top-container {
  background-color: #E4F9F5;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;


}

.bottom-container {
  background-color: #66BFBF;
  padding: 10px 0;
  margin-top: 50px;

}



.intro{
  width: 50%;
  margin: auto;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.resume-img{
  width: 25%;
  float: right;

}

.profile{
  line-height: 2;
  text-align: center;
}

.contact-me{
  width: 50%;
  margin: auto;
}

.message{
  margin: 40px auto 40px;
}

.mail{
  margin-bottom: 40px;
}

a:nth-of-type(1){
  margin-bottom: 30px;
  margin-right: 20px;
}


a:nth-of-type(2){
  margin-bottom: 30px;
  margin-left: 20px;
}



hr{
    border: dotted 6px #EAF6F6;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}
